*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container1{
    height: 100vh;
    box-sizing: border-box;
    background-color: #d5e1ed;
    font-family: sans-serif;
    outline: none;
    align-items: center;
}

.calculator{
    padding: 15px;
    background-color: black;
    border-radius: 30px;
    box-shadow: inset 5px 5px 12px #ffffff,
                    5px 5px 12px #2b2727;
    display: grid;
    grid-template-columns: repeat(4,68px);
}

input{
    grid-column: span 4;
    height: 70px;
    width: 260px;
    background-color: #ecf0f3;
    box-shadow: inset -5px -5px 12px #ffffff, inset 5px 5px 12px #2b2727;
    border: none;
    border-radius: 30px;
    color:red(64, 55, 55);
    font-size: 50px;
    text-align: end;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 20px;
}

button{
    height: 48px;
    width: 48px;
    background-color: white
    box-shadow: -5px -5px 12px #ffffff, 5px 5px 12px white;
    border: none;
    border-radius: 50%;
    margin-bottom: 15px;
}

.cl{
    color: #fa0707;
}

.operator{
    color: rgb(8, 0, 255);
    font-size: 26px;
}

.star{
    padding-top: 10px;
}
.modulus{
    font-size: 20px;
}

.dot{
    font-size: 30px;
}

.equals{
    width: 120px;
    font-size: 26px;
    color: rgb(162, 0, 255);
}